.contact-details-container {
  color: #b4b4b4;
}
.logo-container {
  position: relative;
}
.logo_img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.logo_name {
  font-size: 2.5rem;
  font-weight: 300;
  height: 45px;
}
.logo_name-colored {
  color: #26a69a;
  font-weight: 600;
}
.logo_name-tagline {
  font-size: 90%;
  text-align: left;
  margin-left: -25px;
}
.contact_details-info > * {
  display: flex;
  align-items: center;
  margin-right: 50px;
  text-align: left;
}
.contact_details-info > *:last-child {
  margin-right: 0;
}
.contact_details-info-colored {
  color: #26a69a;
  font-weight: 600;
}
.contact_details-icon {
  color: #3c3c3c;
  font-size: 1.5rem;
}

@media only screen and (max-width: 992px) {
  .contact-details-container {
    flex-direction: column;
  }
  .logo-container {
    margin: 0 auto;
  }
  .logo_name {
    height: 100%;
  }
  .logo_name-tagline {
    margin: 0;
    text-align: center;
  }
  .contact_details-info {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 473px) {
  .contact_details-info > * {
    flex-direction: column;
    margin-right: 15px;
  }
  .contact_details-info-colored {
    font-size: 1rem;
    font-weight: 500;
  }
}
