.testimonial-container {
  background-color: #26a69a;
}
.testimonial-container .carousel {
  color: #fff;
}
.testimonial-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 30px auto;
}

@media only screen and (max-width: 768px) {
  .testimonial-container .carousel {
    width: 75% !important;
  }
}
@media only screen and (max-width: 480px) {
  .testimonial-container .carousel {
    width: 100% !important;
  }
}
